*.cmake linguist-vendored

*.c linguist-vendored
*.cc linguist-vendored
*.h linguist-vendored
*.cpp linguist-vendored
*.hpp linguist-vendored

*.swift linguist-vendored

*.dart linguist-detectable=true
*.py linguist-detectable=true
